{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
   
        <h1 class="mt-5 mb-4">{{ time | date }} </h1>
       
            {% for trailer in trailers %}
                <h3>
                    <td>{{ trailer }}</td>
                </h3>
            {% endfor %}
       
    </div>
{% endblock %}
