{% extends 'main.html.twig' %}

{% block title %}HomeController {% endblock %}

{% block content %}
    <div class="container">
   
        <h1 class="mt-5 mb-4">{{ time | date }} </h1>
       
            {% for key, trailer in trailers %}
                <h3>
                  {{key}} : {{ trailer }}
                </h3>
            {% endfor %}
       
    </div>
{% endblock %}
